# general aliases
alias t3='sudo systemctl isolate multi-user.target'
alias t5='sudo systemctl isolate graphical.target'

alias v='vim'
alias vd='vimdiff'
alias xx='exit'
alias wget='wget -c'
alias grep='grep --color=auto'
alias zgrep='zgrep --color=auto'
alias ma='cd /home/stuff/my_pkgbuild_files'
alias ls='ls --group-directories-first --color'
alias ll='ls -lh'
alias la='ls -lha'
alias lt='ls -lhtr'
alias lta='ls -lhatr'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias hddtemp='sudo hddtemp'
alias nets='sudo netstat -nlptu'
alias nets2='sudo lsof -i'
alias pg='echo "USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND" && ps aux | grep --color=auto'
alias vup='vbox-headless-daemon start'
alias vdo='vbox-headless-daemon stop'

alias gitc='git commit -av ; git push -u origin master'
alias aur='aurploader -r -l ~/.aurploader'

alias orphans='[[ -n $(pacman -Qdt) ]] && sudo pacman -Rs $(pacman -Qdtq)'
alias bb='sudo bleachbit --clean system.cache system.localizations system.trash && paccache -vrk 2'
alias pp='sudo pacman -Syu && cower --ignorerepo=router -u'

alias upp='reflector -c "United States" -a 1 -f 3 --sort rate --save /etc/pacman.d/mirrorlist && cat /etc/pacman.d/mirrorlist && sudo pacman -Syyu && cower --ignorerepo=router -u'
alias fpp="echo 'Server = http://mirror.us.leaseweb.net/archlinux/\$repo/os/\$arch' > /etc/pacman.d/mirrorlist && pp"
alias youtube-dl='noglob youtube-dl'
alias ytq="noglob youtube-dl -F $1"

# ssh shortcuts
alias sa="$HOME/bin/s a"
alias sl="$HOME/bin/s l"
alias sj="$HOME/bin/s j"
alias sj2="$HOME/bin/s j2 "
alias sn="$HOME/bin/s n"
alias sm="$HOME/bin/s m"
alias smom="$HOME/bin/s mom"
alias sr="$HOME/bin/s r"
alias srepo="$HOME/bin/s repo"
alias sw="$HOME/bin/s w"
alias sp="$HOME/bin/s p"
alias sx="$HOME/bin/s x"
alias sxx="$HOME/bin/s xx"

alias memrss='while read command percent rss; do if [[ "${command}" != "COMMAND" ]]; \
						 then rss="$(bc <<< "scale=2;${rss}/1024")"; fi; printf "%-26s%-8s%s\n" "${command}" "${percent}" "${rss}"; \
						 done < <(ps -A --sort -rss -o comm,pmem,rss | head -n 20)'

